<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true">
    
    <!--<div id="container">
      <strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      
    </div>!-->
    <ion-item>
      
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Enter your Email" type="username"[(ngModel)]="user.username" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Enter Password" type="Password"[(ngModel)]="user.password" required></ion-input>
    </ion-item>
  
    <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="login(user)">Login</ion-button>
    <p>NEW USER?Register Here</p>

  <ion-button
    class="ion-padding"
    color="light"
    expand="full"
    [routerLink]="['/register']">Register</ion-button>
</ion-content>
  